body{
	background-image: url(taustakuva.jpg);

	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#banneri{
	background-color: pink!important;
	color:black!important;
	
}
/*
.container-fluid:first-of-type{
	background-color: pink!important;
	
}

*/
.img-thumbnail{
	float: left!important;
	
}
#cat-info{
	margin-top: 5em!important;
}
#body{
	background-color: pink!important;
	color:black!important;
	
}