body{
	background-image: url(taustakuva.jpg);

	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
#banneri{
	background-color: pink!important;
	color:black!important;
	
}
/*
.container-fluid:first-of-type{
	background-color: pink!important;
	
}

*/
#pink1{
	background-color: pink!important;
	color:black!important;
	
}
#pink2{
	background-color: pink!important;
	color:black!important;
	
}
#pink3{
	background-color: pink!important;
	color:black!important;
	
}

#categorybar{
	text-align:center!important;
	
}

#cotd{
	object-fit: cover!important;
}
.center {
margin: 0 auto;

}
#footer{
	background-image: url(taustakuva.jpg)!important;
}